<div class="container px-4 text-center">
  <br />
  <div class="row gy-5">
    <div class="card col-6" style="width: 18rem" *ngFor="let data of pokemonDatas">
      <img [src]="data.picture.url" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Id : {{ data.id }}</h5>
        <h5 class="card-title">{{ data.name }}</h5>
        <button
          [routerLink]="['/detail/', data.id]"
          class="btn btn-primary"
          >Details</button
        >
        &nbsp;
        <button
        (click)="deletePokemon(data.id)"
        class="btn btn-danger"
        >Delete</button
      >
      </div>
    </div>
</div>
