<div class="container mt-5">

  <div
  *ngIf="failedMsg"
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
>
  <strong>{{ failedMsg }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div
  *ngIf="successMsg"
  class="alert alert-success alert-dismissible fade show"
  role="alert"
>
  <strong>{{ successMsg }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

  <form [formGroup]="pokemonDetailForm">
    <fieldset disabled>
      <div class="col-lg-6 mt-2">
        <label for="pokemonId">Pokemon Id</label>
        <input
          type="text"
          class="form-control"
          formControlName="pokemonId"
          id="pokemonId"
        />
      </div>

      <div class="col-lg-6 mt-2">
        <label for="pokemonName">Pokemon Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="pokemonName"
          id="pokemonName"
        />
      </div>

      <div class="col-lg-6 mt-2">
        <label for="pokemonSpecies">Pokemon Species</label>
        <input
          type="text"
          class="form-control"
          formControlName="pokemonSpecies"
          id="pokemonSpecies"
        />
      </div>

      <div class="col-lg-6 mt-2">
        <label for="pokemonMove">Pokemon Move</label>
        <input
          type="text"
          class="form-control"
          formControlName="pokemonMove"
          id="pokemonMove"
        />
      </div>

      <div class="col-lg-6 mt-2">
        <label for="pokemonType">Pokemon Type</label>
        <input
          type="text"
          class="form-control"
          formControlName="pokemonType"
          id="pokemonType"
        />
      </div>

      <div class="col-lg-6 mt-2">
        <label for="owned">Owned</label>
        <input
          type="text"
          class="form-control"
          formControlName="owned"
          id="owned"
        />
      </div>

      <div class="col-lg-6 mt-2">
        <label for="ownedAmount">Owned Amount</label>
        <input
          type="text"
          class="form-control"
          formControlName="ownedAmount"
          id="pokemonType"
        />
      </div>

      <!-- <div class="col-lg-6 mt-2">
            <label for="pokemonPicture">Pokemon Picture</label>
            <input type="file" class="form-control-file" formControlName="pokemonPicture" id="pokemonPicture">
        </div> -->

      <br />
    </fieldset>
    <button class="btn btn-success" (click)="catchOnePokemon()">Catch</button>
    &nbsp;
    <button class="btn btn-danger" (click)="releaseOnePokemon()">Release</button>
    &nbsp;
    <button class="btn btn-warning" (click)="renameOnePokemon()">Rename</button>
  </form>
</div>
