<div class="container mt-5">
  <div
    *ngIf="errormsg"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <strong>{{ errormsg }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div
    *ngIf="successmsg"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <strong>{{ successmsg }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="pokemonForm" (ngSubmit)="pokemonSubmit()" enctype="multipart/form-data">
    <div class="col-lg-6 mt-2">
      <label for="pokemonId">Pokemon Id</label>
      <input
        type="text"
        class="form-control"
        formControlName="pokemonId"
        placeholder="Enter pokemon Id"
        id="pokemonId"
      />
    </div>

    <div class="col-lg-6 mt-2">
      <label for="pokemonName">Pokemon Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="pokemonName"
        placeholder="Enter pokemon Name"
        id="pokemonName"
      />
    </div>

    <div class="col-lg-6 mt-2">
      <label for="pokemonSpecies">Pokemon Species</label>
      <input
        type="text"
        class="form-control"
        formControlName="pokemonSpecies"
        placeholder="Enter pokemon Species Name"
        id="pokemonSpecies"
      />
    </div>

    <div class="col-lg-6 mt-2">
      <label for="pokemonMove">Pokemon Move</label>
      <input
        type="text"
        class="form-control"
        formControlName="pokemonMove"
        placeholder="Enter pokemon First Move"
        id="pokemonMove"
      />
    </div>

    <div class="col-lg-6 mt-2">
      <label for="pokemonType">Pokemon Type</label>
      <input
        type="text"
        class="form-control"
        formControlName="pokemonType"
        placeholder="Enter pokemon Type"
        id="pokemonType"
      />
    </div>

    <div class="col-lg-6 mt-2">
            <label for="pokemonPicture">Pokemon Picture</label>
            <input type="file" class="form-control-file" formControlName="pokemonPicture" id="pokemonPicture" (change)="selectOnPicture($event)">
        </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
