<div class="container">
  <br/>
  <h1>Pokédéx app</h1>
  <nav>
    <a routerLink="/list" class="btn btn-primary">Pokemon List</a>
    &nbsp;
    <a routerLink="/ownedList" class="btn btn-primary">Owned Pokemon List</a>
    &nbsp;
    <a routerLink="/add" class="btn btn-primary">Add Pokemon</a>
  </nav>

  <router-outlet></router-outlet>
</div>
